@using BiolabIntegraVida.Web.ViewModels.LandingPages
@model CadastreSeViewModel

<!DOCTYPE html>
<html dir="ltr" lang="pt-BR">
<head>
	<partial name="~/Views/PartialViews/HeadDependencies.cshtml" />

	<!-- Document Title
	============================================= -->
	<title>Programa Integra Vida | Cadastre-se</title>

</head>

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper">
		<!-- Top Bar
		============================================= -->
		<div id="top-bar" class="text-center dark">
		</div>

		<!-- Header
		============================================= -->
		<header id="header" class=" bg-white " data-sticky-class="not-dark" data-responsive-class="not-dark">
			<div id="header-wrap">
				<div class="container">
					<div class="header-row">

						<!-- Logo
						============================================= -->
						<div id="logo">
							<a href="/">
								<img class="logo-default p-2" srcset="img/logo-integra-vida.png" src="img/logo-integra-vida.png" alt="Logo Programa Integra Vida" title="Logo Programa Integra Vida">
							</a>
						</div><!-- #logo end -->


						<div class="primary-menu-trigger">
							<button class="cnvs-hamburger" type="button" title="Open Mobile Menu">
								<span class="cnvs-hamburger-box"><span class="cnvs-hamburger-inner"></span></span>
							</button>
						</div>

						<!-- Primary Navigation
						============================================= -->
						<nav class="primary-menu with-arrows">

							<ul class="menu-container">
								<li class="menu-item"><a class="menu-link" href="/#como-funciona"><div>Como Funciona</div></a></li>
								<li class="menu-item"><a class="menu-link" href="cadastre-se"><div>Cadastre-se</div></a></li>
								<li class="menu-item"><a class="menu-link" href="/#encontre"><div>Encontre uma Farmácia</div></a></li>
								<li class="menu-item"><a class="menu-link open-regulamento-menu" href="#modal-regulamento"><div>Regulamento</div></a></li>
							</ul>

						</nav><!-- #primary-menu end -->

					</div>
				</div>
			</div>
			<div class="header-wrap-clone"></div>
		</header><!-- #header end -->






		<!-- Content
		============================================= -->
		<section id="content" class="cadastre-se-section">
			<div class="content-wrap py-0">


				<!-- Domain Section
				============================================= -->
				<div id="cadastro-pessoa-section" class="section section-domain mt-0 mb-0" style="background: #F5F5F5">
					<div class="container">
						<div class="row justify-content-between align-items-center">
							<div class="col-md-12 pt-40">
								<div class="heading-block mb-0 border-bottom-0 text-center">
									<h3 class="text-azul text-uppercase pb-0 fw-bolder mb-0">Cadastre-se</h3>
									<p class="text-roxo pt-0 mt-0">no Programa Integra Vida</p>
								</div>
							</div>
							
							<div class="col-md-10 offset-lg-1 col-12">
								<div class="box-conteudo p-60 p-10-mob pt-40-mob">

									<form class="row pl-100 pr-100 pr-10-mob pl-10-mob" id="cadastro-form" action="#" method="post" enctype="multipart/form-data">
										<div class="col-12 form-group">
											<label>CPF:</label>
											<input type="text" name="cpf" id="cpf" class="form-control" readonly value="@Model.CPF">
											<span class="input-validation" id="cpf-validation"></span>
										</div>
										<div class="col-12 form-group">
											<label>Medicamento:</label>

											<select class="selectpicker" name="medicamento" id="medicamento" data-live-search="true">
												<option value="" selected disabled>-- Selecione --</option>

												@foreach (var produto in Model.Produtos)
												{
													<option value="@produto.ProdutoOriginal.ean">@produto.Nome</option>
												}
											</select>

											<span class="input-validation" id="medicamento-validation"></span>
										</div>
										<!--
										<div class="col-12 form-group">
											<label>Tipo de Cadastro:</label>
											<select class="form-select required" name="tipo-cadastro" id="tipo-cadastro">
												<option value="" selected disabled>-- Selecione --</option>
												<option value="1">Exemplo #01</option>
												<option value="2">Exemplo #02</option>
												<option value="3">Exemplo #03</option>
												<option value="4">Exemplo #04</option>
												<option value="5">Exemplo #05</option>
											</select>
											<span class="input-validation" id="tipo-cadastro-validation"></span>
										</div>
										-->
										<div class="col-md-8 col-12 form-group">
											<label>Nome Completo:</label>
											<input type="text" name="nome" id="nome" class="form-control" value="" placeholder="">
											<span class="input-validation" id="nome-validation"></span>
										</div>
										<div class="col-md-4 col-12 form-group">
											<label>Data de Nascimento:</label>
											<input type="text" name="nascimento" id="nascimento" class="form-control" value="" placeholder="__/__/____">
											<span class="input-validation" id="nascimento-validation"></span>
										</div>
										<div class="col-md-6 col-12 form-group">
											<label>E-mail:</label>
											<input type="text" name="email" id="email" class="form-control" value="" placeholder="">
											<span class="input-validation" id="email-validation"></span>
										</div>
										<div class="col-md-2 col-4 form-group">
											<label>DDD:</label>
											<input type="text" name="ddd" id="ddd" class="form-control" value="" placeholder="11">
											<span class="input-validation" id="ddd-validation"></span>
										</div>
										<div class="col-md-4 col-8 form-group">
											<label>Telefone:</label>
											<input type="text" name="telefone" id="telefone" class="form-control" value="" placeholder="9 0000-0000" maxlength="9">
											<span class="input-validation" id="telefone-validation"></span>
										</div>

										<div class="fancy-title title-border-color">
											<h6 class="text-verde">Dados do Médico</h6>
										</div>

										<div class="col-md-8 col-12 form-group">
											<label>CRM do Médico:</label>
											<input type="text" name="crm" id="crm" class="form-control" value="" placeholder="Apenas números">
											<span class="input-validation" id="crm-validation"></span>
										</div>
										<div class="col-md-4 col-12 form-group">
											<label>UF:</label>
											<select class="form-select" name="uf" id="uf">
												<option value="" selected disabled>-- Selecione --</option>

												@foreach(var uf in Model.UFs)
												{
													<option value="@uf.Sigla">@uf.Nome</option>
												}
											</select>
											<span class="input-validation" id="uf-validation"></span>
										</div>

										<div class="fancy-title title-border-color">
											<h6 class="text-verde">Aceite de Comunicação</h6>
										</div>

										<div class="col-12 form-group">

											<div class="form-check">
												<div>
													<input type="checkbox" class="form-check-input" name="comunicacao-celular" id="comunicacao-celular">
													<label class="form-check-label" for="comunicacao-celular">Concordo em receber comunicação via celular</label>
												</div>
												<span class="input-validation" id="comunicacao-celular-validation"></span>
											</div>

											<div class="form-check">
												<div>
													<input type="checkbox" class="form-check-input" name="comunicacao-email" id="comunicacao-email">
													<label class="form-check-label" for="comunicacao-email">Concordo em receber comunicação via e-mail</label>
												</div>
												<span class="input-validation" id="comunicacao-email-validation"></span>
											</div>

										</div>
										
										
										<div class="col-12 d-none">
											<label>Nome da mãe:</label>
											<input type="text" id="nome-mae" name="nome-mae" value="">
											<span class="input-validation" id="nome-mae-validation"></span>
										</div>
										<div class="col-12 text-center pt-50 pt-0-mob">
											
											<input class="submit-cep" type="submit" id="submit-cadastro" value="Continuar" />
										</div>
									</form>

									
								</div>
							</div>
							
						</div>
					</div>
				</div>


				<div id="cadastro-senha-section" class="hidden section section-domain mt-0 mb-0" style="background: #F5F5F5">
					<div class="container">
						<div class="row justify-content-between align-items-center">
							<div class="col-md-12 pt-40">
								<div class="heading-block mb-0 border-bottom-0 text-center">
									<h3 class="ls-0 text-transform-none font-merck text-rosa">Senha</h3>		
									<p class="text-roxo">Para acessar os serviços exclusivos do Programa Merck Cuida<br class="hidden-xs">cadastre a sua senha conforme a orientação abaixo.</p>							
								</div>
							</div>
							
							<div class="col-md-10 offset-lg-1 col-12">
								<div class="box-conteudo p-60 p-10-mob pt-50-mob">

									<form class="row pl-100 pr-100 pr-0-mob pl-0-mob" id="senha-form" action="#" method="post" enctype="multipart/form-data">
									
										<!-- <label class="text-success">Senha: <i class="text-sucess bi-check-circle-fill"></i></label> -->
										<!-- <label class="text-danger">Confirmar Senha: <i class="text-danger bi-exclamation-circle-fill"></i></label> -->

										<div class="col-md-6 col-12 form-group">
											<label>Senha:</label>
											<input type="password" name="password-1" id="password-1" class="form-control" value="">
										</div>
										<div class="col-md-6 col-12 form-group">
											<label>Confirmar Senha:</label>
											<input type="password" name="password-2" id="password-2" class="form-control" value="">
										</div>
										

										<div class="col-12 form-group">

											<p>
												
												<i class="text-black-50 bi-circle-fill" id="password-validation-charcount"></i> A senha deve ter no mínimo 8 caracteres<br>
												<i class="text-black-50 bi-circle-fill" id="password-validation-specialchar"></i> @("Incluir um caractere especial (!@#$%&*-+()|/)")<br>
												<i class="text-black-50 bi-circle-fill" id="password-validation-number"></i> Incluir um número</br>
												<i class="text-black-50 bi-circle-fill" id="password-validation-match"></i> Senhas correspondem</br>
											
											
										</div>
										
										
										<div class="col-12 d-none">
											<input type="text" id="honeypot" name="honeypot" value="">
										</div>
										<div class="col-12 text-center pt-0">
											<a href="#" id="btn-voltar-para-cadastro" class="btn-voltar"><i class="bi-arrow-return-left"></i> Voltar</a>
											<input class="submit-cep" type="submit" name="submit-senha" id="submit-senha" value="Finalizar Cadastro" />
										</div>
	
										<input type="hidden" name="prefix" value="event-registration-">
									</form>

									
								</div>
							</div>
							
						</div>
					</div>
				</div>

				<div id="confirmacao-section" class="hidden section section-domain mt-0 mb-0" style="background: #F5F5F5">
					<div class="container">
						<div class="row justify-content-between align-items-center">
							<div class="col-md-10 offset-lg-1">
								<div class="box-conteudo p-60 p-20-mob">

									<div class="col-md-12 pt-40">
										<div class="heading-block mb-0 border-bottom-0 text-center">
											<h3 class="ls-0 text-transform-none font-merck text-rosa">Tudo certo!</h3>		
											<h5 class="text-roxo">Você já pode aproveitar seus descontos</h5>							
										</div>
									</div>
									
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</section><!-- #content end -->


		<section id="" class=" mt-0 pt-0 bg-roxo-int">
			<div class="container">
				<div class="swiper_wrapper text-center pt-100" data-loop="true">
         
					<p class="text-white text-center mt-40"><img src="img/logo-integra-vida-bc.png" alt="Programa Integra Vida" title="Programa Integra Vida"></p>

					<p class="text-white text-center mt-40">
						© 2025 Programa Integra Vida®. All rights reserved.
					</p>
				</div>
			</div>
		</section>


		<partial name="~/Views/PartialViews/ContentRegulamento.cshtml" />

		<div id="top-bar" class="text-center dark">
			
		</div>

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="uil uil-angle-up"></div>

	<partial name="~/Views/PartialViews/FootDependencies.cshtml" />

	<script type="text/javascript">
		(function() {
			var medicamentoElement = document.getElementById('medicamento');
			var produtos = @Html.Raw(Model.ProdutosAsJavascriptArray());

			qrvLib.makeAutocomplete(medicamentoElement, produtos);
			qrvValidations.cadastreSe();
			qrvCookie.init('@Model.GoogleAnalyticsId');
		})();
	</script>

</body>
</html>